.h1{
    font-size: 40px
}
.h2{
    font-size: 20px;
    }
.h3{
    font-size: 20px;
    }
.h4{
    font-size: 16px;
    }
.text-center
    text-align center
.text-left
    text-align left
.text-right
    text-align right
.text-primary
    color $primary-color
.text-second
    color $second-color
.text-third
    color $third-color
.margin-top20
    margin-top 20px
.margin-bottom20
    margin-bottom 20px