input{
    width:80%;
    margin: 10px
    height 40px
    line-height 40px
    color $font-color1
    border 1px solid $font-color2
    box-sizing border-box
    padding-left: 5px
}
input:focus{
    outline none 
    border 1px solid $third-color
}

.btn-danger{
    background red
    color #fff
}
.btn-success{
    background $third-color
    color #fff
}
.input{
    width:80%;
    margin: 10px
    height 40px
    line-height 40px
    color $font-color1
    border 1px solid $font-color2
    box-sizing border-box
    padding-left: 5px
}
.border
    border 1px solid $font-color3